.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
node_modules

# Dev files
.env
.env.*
!.env.example
*.md
docs/
simulator/
device_runtime/
photos/
data/
